<div id="right_column_flip" class="right_column_flip">
<h2>Ayuda</h2>
<ul class="no_bullets">
  <li><%= link_to_unless_current "introducción", help_about_path %></li>
  <li><%= link_to_unless_current "Solicitudes de información", help_requesting_path %></li>
  <li><%= link_to_unless_current "Tu privacidad", help_privacy_path %></li>
  <li><%= link_to_unless_current "Ayuda para RAIPs", help_officers_path %></li>
  <li><%= link_to_unless_current "Acerca del software", help_alaveteli_path %></li>
  <li><%= link_to_unless_current "Podés ayudar", help_credits_path %></li>
  <li><%= link_to_unless_current "API para programadores", help_api_path %></li>
  <li><%= link_to_unless_current "Búsqueda avanzada", advanced_search_path %></li>
  <li><%= link_to_unless_current "Respuestas insatisfactorias", help_unhappy_path %></li>
  <% if feature_enabled?(:alaveteli_pro) %>
    <li><%= link_to_unless_current "Pro", help_pro_path %></li>
  <% end %>
</ul>

<h2 id="contact" class="contact">Contactanos</h2>
<p> Si tu pregunta no fue respondida aquí, o si solo quieres decirnos algo sobre el sitio, <a href="<%= help_contact_path %>">contáctenos</a>.
</p>
</div>
