<% @title = "introducción" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="Introducción">Introducción a <%= site_name %> <a href="#Introducción">#</a></h1>
  <dl>

    <dt id="purpose">¿Para qué sirve <%= site_name %> ? <a href="#purpose">#</a> </dt>
    <dd><p>Para ayudarte a encontrar información valiosa sobre lo que está haciendo el Estado, así como también sobre la actividad de diversas personas públicas y privadas que utilizan recursos públicos.</p>
    <p>Por el momento, Derecho al Dato solo está disponible para hacer solicitudes de información a los órganos del Estado Nacional o a quienes administran fondos o servicios públicos nacionales (ej. empresas concesionarias de servicios públicos). Estamos trabajando para ampliar el alcance a provincias y municipios, adaptando la plataforma a los distintos marcos legales.</p>
    </dd>

    <dt id="who">¿Quién hace Derecho al Dato? <a href="#who">#</a> </dt>
    <dd><p>Derecho al Dato es una plataforma puesta en marcha en Argentina por la Fundación Transparencia Activa.</p>
    <p>Defendemos el acceso de los ciudadanos a la información pública que se encuentra en manos del Estado y Empresas. Instamos a todos los actores sociales a que respeten los Derechos Humanos haciendo sus prácticas más transparentes, responsables y respetuosas del acceso a la información pública. Visitanos en www.transparenciaactiva.com.ar .</p>
    <p>La plataforma se ejecuta en <a href="http://alaveteli.org">Alaveteli</a>, que fue creado y administrado por <a href="http://www.mysociety.org">mySociety</a>, una organización benéfica registrada, y fue inicialmente financiado por el <a href="http://www.mysociety.org/2006/12/06/funding-for-freedom-of-information/">JRSST Charitable Trust.</a> </p> </dd>

    <dt id="equipo">Equipo<a href="#equipo">#</a> </dt>
    <dd>Equipo</dd>

    <dt id="premise">¿Cómo funciona este sitio? <a href="#premise">#</a> </dt>
    <dd>Elegís la autoridad pública o empresa de la que deseas obtener información y luego detallás lo que queres saber. Nosotros enviaremos tu solicitud. Cualquier respuesta que obtengas te llegará por correo y se publicará automáticamente en este sitio web para que toda persona pueda acceder a ella.
    </dd>

    <dt id="whybother_me">¿Por qué haría un pedido de información? <a href="#whybother_me">#</a> </dt>
    <dd><p>La información es poder. Cuanto más descubramos cómo actúa el Estado y otras entidades que manejan recursos públicos, más chance tendremos de incidir en los asuntos públicos y generar un verdadero cambio social.</p>
    <p>Además la información pública no es propiedad del Estado. La información es de todos y podemos utilizarla para lo que querramos. </p>
    <p>Por ejemplo, para:</p>

    <ul>
        <li>Ejercer o exigir cualquiera de tus derechos (ambiente sano, salud, educación, trabajo, etc.)</li>
        <li>Tu investigación periodística.</li>
        <li>Combatir la corrupción.</li>
        <li>Tu trabajo académico.</li>
        <li>Conocer sobre el manejo de fondos públicos.</li>
        <li>Tu actividad comercial.</li>
        <li>Acceder a documentos y archivos de interés.</li>
        <li>Tu profesión, cualquiera sea.</li>
        <li>Simplemente por placer.</li>
    </ul>
    
    </dd>

    <dt id="whybother_them">¿Por qué responderían mis pedidos? <a href="#whybother_them">#</a> </dt>
    <dd>Según la Ley Nº 27.275 de acceso a la información pública las autoridades tienen que responder todos los pedidos. También deben hacerlo otras personas públicas y privadas que manejan fondos públicos o que brindan servicios públicos. La respuesta contendrá la información que solicitaste o deberán justificar los motivos de su rechazo.
    </dd>

    <dt id="comprendo">Si comprendo bien, el acceso a la información es un derecho ¿Es así?<a href="#comprendo">#</a></dt>
    <dd>Sí, todos tenemos el derecho en condiciones de igualdad y no discriminación. El acceso a la información pública es un derecho humano fundamental vinculado con la libertad de expresión y se encuentra reconocido y protegido por tratados internacionales. En Argentina, está reconocido en la Constitución Nacional por vía del artículo 75, inc. 22, y se encuentra regulado por la Ley Nº 27.275. Además, está legislado en cada provincia.</dd>

    <dt id="reporting">¿Qué sucede si veo una solicitud que considero inapropiada? <a href="#reporting">#</a></dt>
    <dd>
      <p>
      Las solicitudes de información personal no son solicitudes de información pública. Si creés que una solicitud es inapropiada por esa u otra razón, podés denunciarla y nos ocuparemos de revisarla <a href="<%= help_contact_path %>">(contactanos)</a>.
      </p>
    </dd>

    <dt id="reporting_unavailable">¿Por qué no logro denunciar una solicitud inapropiada? <a href="#reporting_unavailable">#</a></dt>
    <dd>
      <p>
      Si ya se ha denunciado una solicitud a los administradores del sitio no es posible que otro usuario pueda denunciarla nuevamente. Esto es para evitar que los administradores sean notificados varias veces sobre el mismo problema antes de que tengan la oportunidad de realizar una revisión.
      </p>

      <p>
      Cuando se haya denunciado previamente una solicitud pero un administrador haya resuelto no darla de baja, podés usar el formulario en la barra lateral de la página para contactar a los administradores si aún creés que debería estar oculta.
      </p>
      <p>Podés seguir leyendo sobre <a href="<%= help_requesting_path %>">cómo hacer solicitudes</a></p>
    </dd>


  

  </dl>

  <p>Podés seguir leyendo sobre <a href="<%= help_requesting_path %>">cómo hacer solicitudes</a> --&gt;</p>

  <div id="hash_link_padding"></div>
</div>
