<% @title = "About" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="Introducción">Introducción a <%= site_name %> <a href="#Introducción">#</a></h1>
  <dl>

    <dt id="purpose">¿Para qué sirve <%= site_name %> ? <a href="#purpose">#</a> </dt>
    <dd>Para ayudarte a encontrar información valiosa sobre lo que está haciendo el Estado, así como también sobre la actividad de diversas personas públicas y privadas que utilizan recursos públicos.
    </dd>

    <dt id="premise">¿Cómo funciona este sitio? <a href="#premise">#</a> </dt>
    <dd>Elegís la autoridad pública o empresa de la que deseas obtener información, luego escribes una breve nota describiendo lo que quieres saber. Nosotros enviaremos tu solicitud. Cualquier respuesta que obtengas te llegará por correo y se publicará automáticamente en este sitio web para que cualquier persona pueda acceder a ella.
    </dd>

    <dt id="whybother_me">¿Por qué haría un pedido de información? <a href="#whybother_me">#</a> </dt>
    <dd>Pagás impuestos y luego el gobierno hace cosas con tu dinero. Todo tipo de cosas que afectan su vida, desde la salud pública hasta la defensa nacional. Algunas cosas las hace bien y otras no tanto. Cuanto más descubramos cómo actúa el Estado y otras entidades que manejan recursos públicos, más chance tendremos de incidir en los asuntos públicos y generar un cambio social.
    </dd>

    <dt id="whybother_them">¿Por qué responderían mis pedidos? <a href="#whybother_them">#</a> </dt>
    <dd>Según la Ley Nº 27.275 de acceso a la información pública las autoridades tienen que responder todos los pedidos. También deben hacerlo otras personas públicas y privadas que manejan fondos públicos o que brindan servicios públicos. La respuesta contendrá la información que deseás o deberán darte una razón legal válida por la que debe mantenerse confidencial.
    </dd>

    <dt id="reporting">¿Qué sucede si veo una solicitud que considero inapropiada? <a href="#reporting">#</a></dt>
    <dd>
      <p>
      Las solicitudes de información personal no son solicitudes de información pública.
      </p>

      <p>
      Si creés que una solicitud es inapropiada por esa u otra razón, podés denunciarla y nos ocuparemos de revisarla.
      </p>
    </dd>

    <dt id="reporting_unavailable">¿Por qué no logro denunciar una solicitud inapropiada? <a href="#reporting_unavailable">#</a></dt>
    <dd>
      <p>
      Si ya se ha denunciado una solicitud a los administradores del sitio no es posible que otro usuario pueda denunciarla nuevamente. Esto es para evitar que los administradores sean notificados varias veces sobre el mismo problema antes de que tengan la oportunidad de realizar una revisión.
      </p>

      <p>
      Cuando se haya denunciado previamente una solicitud pero un administrador haya resuelto no darla de baja, puede usar el formulario en la barra lateral de la página para contactar a los administradores si aún cree que debería estar oculta.
      </p>
    </dd>

    <dt id="who">¿Quién hace <%= site_name %> ? <a href="#who">#</a> </dt>
    <dd><%= site_name %> La plataforma se ejecuta con <a href="http://alaveteli.org">Alaveteli</a>, que fue creado y administrado por <a href="http://www.mysociety.org">mySociety</a>, una organización benéfica registrada, y fue inicialmente financiado por el <a href="http://www.mysociety.org/2006/12/06/funding-for-freedom-of-information/">JRSST Charitable Trust</a>.
      Si te gusta lo que estamos haciendo, entonces puedes hacer una donación.</a>.
    </dd>

    <dt id="updates">¿Cómo puedo seguir las noticias sobre <%= site_name %>?<a href="#updates">#</a> </dt>
    <dd>Tenemos un <a href="<%= blog_path %>">blog</a><% if !MySociety::Config.get('TWITTER_USERNAME', '').empty? %> and a <a href=https://twitter.com/<%= MySociety::Config.get('TWITTER_USERNAME', '') %>>twitter feed</a><% end %>.
    </dd>

  </dl>

  <p>Podés seguir leyendo sobre <a href="<%= help_requesting_path %>">cómo hacer solicitudes</a> --&gt;</p>

  <div id="hash_link_padding"></div>
</div>
