<% @title = "Ayuda para RAIPs" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="officers"><%= @title %> <a href="#officers">#</a> </h1>

  <dl>

    <dt id="top">Soy Responsable de Acceso a la Información Pública, ¿de qué se trata esto?<a href="#top">#</a> </dt>

    <dd><p><%= site_name %> es un servicio implementado por una organización sin fines de lucro. Ayuda a cualquier persona o empresa a realizar solicitudes de acceso a la información pública. También a rastrear y compartir fácilmente las respuestas obtenidas.</p>

      <p>Si llegaste hasta aquí desde una solicitud que te llegó por correo electrónico, tené presente que fue hecha por alguien que utiliza Derecho al Dato. Simplemente podés responder la solicitud como lo harías con cualquier otra solicitud de un individuo. La única diferencia es que tu respuesta se publicará automáticamente en Internet.
      </p>
      <p>Si tenés dudas sobre la privacidad de los datos u otras inquietudes, leé las respuestas a continuación. También podés leer la  <a
        href="<%= help_about_path %>">introducción <%= site_name %></a> para obtener más información sobre lo que hacemos en este sitio desde el punto de vista de un usuario. También podés buscar en el sitio la autoridad para la que trabajás y ver el estado de cualquier solicitud realizada.

      <p>Finalmente, agradecemos los comentarios y opiniones de los RAIPs, por favor <a href="<%= help_contact_path %>">contactanos</a>.
      </p>
    </dd>

    <dt id="obligado">¿Estoy obligado a responder un pedido de información pública? <a href="#obligado">#</a> </dt>

    <p>Si sos parte de alguno de los poderes del Estado, incluidos sus organismos autónomos o descentralizados, o bien no sos un sujeto de carácter estatal pero prestás funciones o servicios públicos, o administrás de algún modo bienes o recursos del Estado, entonces estás obligado a contestar las solicitudes de información. 
    Así está previsto por la Ley Nº 27.275 en el artículo 7º, <a href="http://servicios.infoleg.gob.ar/infolegInternet/anexos/265000-269999/265949/texact.htm">mirá</a>.
    </p>
    </dd>

    <dt id="noresponses">Creo que lo mejor es no contestar.<a href="#noresponses">#</a> </dt>
    <dd>Sería un grave error. Los ciudadanos pueden recurrir a los órganos garantes de información y a la justicia contencioso administrativa. También pueden acudir mediante denuncias ante organismos internacionales. Y tenés que saber que las leyes prevén responsabilidades tanto civiles como penales para el caso de incumplimiento de los deberes públicos. Además existen sanciones administrativas.</dd>

    <dt id="responses">Por qué publican respuestas a solicitudes de información pública? <a href="#responses">#</a> </dt>

    <dd>Creemos que hay muchos beneficios. Lo que es más importante, alentará al público a estar más interesado e involucrado en asuntos públicos. También esperamos que reduzca el número de solicitudes duplicadas. Dado que las respuestas a solicitudes de información contienen información pública, creemos que no debería haber ninguna razón para no publicarla abiertamente.
    </dd>

    <dt id="realpeople">¿Las personas que hacen solicitudes son personas reales? <a href="#realpeople">#</a> </dt>

    <dd>Sí. Para realizar un seguimiento de las respuestas, utilizamos direcciones de correo electrónico generadas automáticamente para cada solicitud. Sin embargo, antes de que puedan enviar una solicitud, cada usuario debe registrarse en el sitio con una dirección de correo electrónico única que luego verificamos. Si querés, podés buscar en este sitio y encontrar todas las solicitudes que ha realizado cada persona.


    </dd>

    <dt id="email_only">¡Un correo electrónico no es una dirección suficiente para una solicitud de acceso a la información! ¡Debo verificar la identidad! <a href="#email_only">#</a> </dt>

    <dd>Incorrecto. Las leyes de acceso a la información establecen procedimientos sencillos e informales para que todos puedan formular solicitudes. Nunca se exige acreditar identidad con documentos. Solo basta con que el solicitante denunce su nombre y domicilio electrónico para recibir respuesta, nada más (ver art. 9 de la Ley Nº 27.275). Incluso, diversos organismos internacionales de derechos humanos promueven el acceso a la información pública de manera anónima, sin revelar la identidad real de los solicitantes. ¡Es información pública!
    </dd>

    <dt id="vexatious">¿No están haciendo muchas solicitudes molestas? <a href="#vexatious">#</a> </dt>

    <dd><p><%= site_name %> no está haciendo ninguna solicitud. Estamos enviando solicitudes en nombre de nuestros usuarios, que son personas reales que hacen las solicitudes. </p>
      <p>Miralo de esta manera: si muchas personas diferentes hicieron solicitudes desde diferentes direcciones de correo electrónico de Hotmail, entonces no pensarías que Microsoft estaba haciendo solicitudes molestas. Es exactamente lo mismo si se hacen muchas solicitudes a través de Derecho al Dato. Además, dado que todas las solicitudes son públicas, es mucho más fácil para vos ver si uno de nuestros usuarios está reiterando solicitudes irritantes.
      </p>

    </dd>

    <dt id="spam_problems">Puedo ver una solicitud en Derecho al Dato, ¡pero nunca la recibí por correo electrónico!<a href="#spam_problems">#</a> </dt>

    <dd><p>Si aparece una solicitud en el sitio, intentamos enviarla al organismo por correo electrónico. Cualquier mensaje de error de entrega aparecerá automáticamente en el sitio. Puede verificar la dirección que estamos utilizando con el enlace "Ver dirección de correo electrónico del organismo" que aparece en la página de la autoridad. <a
        href="<%= help_contact_path %>">Contactanos</a> si creés que debemos usar otra dirección de correo.</p>
      <p>Algunas veces, las solicitudes no se entregan porque se eliminan silenciosamente mediante "filtros de spam". Las autoridades pueden asegurarse de que esto no suceda pidiendo a sus departamentos informáticos que "incluyan en la lista blanca" cualquier correo electrónico de <strong>@<%= AlaveteliConfiguration::incoming_email_domain %></strong>.
        Si <a href="<%= help_contact_path %>">lo pedís</a> volveremos a enviar cualquier solicitud y / o daremos detalles técnicos de entrega para que los informáticos puedan rastrear el mensaje.
      </p>
      <p>Finalmente, podés responder a cualquier solicitud desde tu navegador web, sin necesidad de ningún correo electrónico, utilizando el enlace "responder la solicitud" en la parte inferior de cada página de solicitud.
      </p>
    </dd>

    <dt id="days">¿Cómo calculan la fecha de vencimiento que se muestra en las páginas de solicitud?<a href="#days">#</a> </dt>

    <dd>
    <p>Las leyes de acceso a la información fijan plazos acotados para responder solicitudes de información. A nivel nacional, la Ley Nº 27.275 establece:</p>
    <ul>
    <li>ARTÍCULO 11. — <i>Plazos</i>. Toda solicitud de información pública requerida en los términos de la presente ley debe ser satisfecha en un plazo no mayor de quince (15) días hábiles. El plazo se podrá prorrogar en forma excepcional por otros quince (15) días hábiles de mediar circunstancias que hagan razonablemente difícil reunir la información solicitada.</li>
    <li>En su caso, el sujeto requerido debe comunicar fehacientemente, por acto fundado y antes del vencimiento del plazo, las razones por las que hace uso de tal prórroga.</li>
    <li>El peticionante podrá requerir, por razones fundadas, la reducción del plazo para responder y satisfacer su requerimiento.</li>
    </ul>
    <p>El detalle de cómo se cuentan exactamente los plazos, qué días son inhábiles, lo que sucede si la solicitud llega fuera del horario de oficina, las razones que justifican una prórroga, es solo eso: detalles. Lo que importa aquí es que la ley dice que las autoridades deben responder con máxima celeridad.</p>
    <p>Si tenés una buena razón por la que la solicitud tardará un tiempo en procesarse, te recomendamos enviar tan pronto como sea posible un correo electrónico breve explicándolo y los solicitantes lo comprenderán.</p>
    <p>Los RAIPs a menudo tienen que hacer un gran trabajo para responder a las solicitudes, y esto el público no lo sabe. Creemos que sería bueno que los RAIPs muestren la complejidad de su trabajo.</p>

     
    </dd>

    <dt id="days2">Dale, en serio, ¿cómo se calcula el plazo?<a href="#days2">#</a> </dt>

    <dd>

      <p>Volvé a leer la respuesta a la pregunta anterior. Legalmente, las autoridades -o entidades privadas obligadas- deben responder con prontitud a las solicitudes de información pública. Si no lo hacen, lo mejor es que demuestren el arduo trabajo que están haciendo al explicar por qué les está tomando más tiempo.
      </p>

      <p>Dicho esto <%= site_name %> sí muestra el plazo legal máximo para responder a cada solicitud. Así es como lo calculamos:</p>

      <ul>

        <li>Si el día que entregamos la solicitud por correo electrónico es un día hábil, lo contamos como "día cero", incluso si se entregó por la noche. Luego contamos el próximo día hábil como "día uno", y así sucesivamente hasta 15 días hábiles.</li>

        <li>Si el día en que se entregó el correo electrónico de solicitud fue un día no laborable, contamos el siguiente día laborable como "día uno". La entrega es válida incluso si sucedió el fin de semana y se empieza a contar al siguiente día hábil.
        </li>

        <li>Se alienta a los solicitantes a marcar cuando hayan hecho aclaraciones o ampliado una solicitud para que el cómputo de plazo se restablezca, pero a veces se equivocan. Si ves un problema con una solicitud en particular, avisanos y lo solucionaremos.</li>
      </ul>

      <p>La fecha así calculada se muestra en las solicitudes con el texto "Por ley, el Ministerio normalmente debería haber respondido antes de ..."..
      </p>

    </dd>

    <dt id="sirespuesta">Voy a contestar, ¿Cómo tengo que hacerlo?<a href="#sirespuesta">#</a> </dt>
    <dd><p>Debés responder por correo electrónico a la dirección que te indicamos en la solicitud.
    No olvides que la respuesta tiene que estar en formatos electrónicos abiertos que permitan su reutilización, de manera completa y con el mayor nivel de desagregación posible. </p>
    <p>Cuando determinada información deba reservarse por contener, por ejemplo, datos personales que corresponda proteger, de todos modos el documento debe publicarse disociando o testando esos datos.</p>
    </dd>
    

    <dt id="large_file">¿Cómo puedo enviar un archivo grande, que no se enviará por correo electrónico?<a href="#large_file">#</a> </dt>

    <dd>En lugar de usar el correo electrónico, podés responder a una solicitud directamente desde el navegador web, incluyendo la carga de un archivo. Para hacer esto, clickeá en "responder a la solicitud" en la parte inferior de la página de la solicitud. <a href="<%= help_contact_path %>">Contactanos</a> si es demasiado grande para eso (más de, digamos, 50Mb).
    </dd>

    <dt id="names">¿Por qué publican los nombres de los funcionarios públicos y el texto de los correos electrónicos? <a href="#names">#</a> </dt>

    <dd>Consideramos que lo que hacen los funcionarios o servidores en el curso de su empleo es información pública. También es pública la información en manos de privados que manejan fondos públicos o brindan servicios públicos, empezando por quienes lo hacen. Solo eliminaremos contenido en circunstancias excepcionales, consultá nuestra <a href="<%= help_privacy_path(:anchor => 'takedown') %>">política de baja de solicitudes</a>.
    </dd>

    <dt id="mobiles">¿Publican direcciones de correo electrónico o números de teléfonos móviles? <a href="#mobiles">#</a> </dt>

    <dd><p>Para evitar el spam, eliminamos automáticamente la mayoría de los correos electrónicos y algunos números móviles de las respuestas a las solicitudes. Por favor <a href="<%= help_contact_path %>">Contactanos</a> si nos hemos perdido uno. Por razones técnicas, no siempre los eliminamos de los archivos adjuntos, como ciertos archivos PDF.</p>
    <p>Si necesitás saber qué dirección hemos eliminado, ponete en <a
      href="<%= help_contact_path %>">contacto</a> con nosotros pues, en ciertos casos, una dirección de correo electrónico podría ser una parte importante de una respuesta.
    </p>
    </dd>

    <dt id="copyright"><a id="commercial"></a>¿Cuál es su política sobre derechos de autor de documentos?<a href="#copyright">#</a> </dt>

    <dd>
    <p>Nuestras leyes de acceso a la información prevén ciertas excepciones a la publicidad de documentos. Entre ellas se protegen los derechos de autor. Pero es la autoridad o entidad que brinda la información la que debe revisar si corresponde aplicar o no restricciones en ese sentido.</p>
    <p>Una vez que los documentos son entregados en una respuesta a una solicitud, se presume que esa información es de dominio público y puede circular libremente por cualquier lugar del mundo. Sin embargo, si creés un documento publicado en el sitio infringe tus derechos de autor, podés <a
    href="<%= help_contact_path %>">comunicarte</a> con nosotros y pedirnos que lo eliminemos.
    </p>
    </dd>

    <dt id="allowed_responses">¡Mi respuesta a una solicitud anterior fue rechazada!<a href="#allowed_responses">#</a> </dt>
      <dd>Después de seis meses de inactividad, Derecho al Dato limita quién puede responder a una solicitud para detener a los spammers que se dirigen a solicitudes antiguas. En ese momento, la solicitud solo puede ser respondida por la persona requerida. Después de doce meses, la solicitud se cierra a las respuestas de cualquier persona. Si necesitás volver a abrir una solicitud anterior para poder responderla, <a href="<%= help_contact_path %>">
      contactanos</a>.
      </dd>


  </dl>

  <p><strong>Si no lo hiciste</strong>, leé la <a href="<%= help_about_path %>">introducción a Derecho al Dato</a> --&gt;
    <br><strong>Podés seguir leyendo</strong>, los <a href="<%= help_credits_path %>">creditos</a> o <a href="<%= help_api_path %>">API de programadores</a> --&gt;

    <div id="hash_link_padding"></div>
</div>
